@model List<ResultContactDto>

@foreach (var item in Model)
{
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contact Us
                        </h4>
                        <div class="contact_link_box">
                            <a href="@item.Location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Lokasyon
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Ara @item.Phone
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    @item.Email
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            @item.Title
                        </a>
                        <p>
                            @item.Description
                        </p>
                        
                        <!-- Social Medias -->
                        @await Component.InvokeAsync("_UILayoutFooterSocialMediaComponentPartial")

                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        @item.OpenDays                       
                    </h4>
                    <p>
                        @item.OpenDaysDescription
                    </p>
                    <p>
                        @item.OpenHours
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    <span id="displayYear"></span> Tüm Hakları Saklıdır. Distributed By Melanocetus
                </p>
            </div>
        </div>
    </footer>
}